{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
	<br>
	<h1>{{article.title}}</h1>
	<p>{{article.body}}</p>
	<hr>
	<a href="/">Go Back</a>
{% endblock %}